@model PagedList.IPagedList<paging.Models.tblEmp>
@using PagedList.Mvc
@{
    Layout = null;
}
<div id="content">
    <table id="testTable" class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
               <a href="#" onclick="sortTable()">Name <img width="20" src="~/sorting.png" /></a>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    <div id="contentPager">
        @Html.PagedListPager(Model, page => Url.Action("GetData", new { page }))
    </div>
</div>